@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}

.landing-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 8px;
}

.landing-list li a {
  padding: 16px 24px;
}
